.container {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.swot {
  border-color: blue;
  border-style: groove;
  margin: 1px;
  min-width: 30vw;
  flex: 1 0 auto;
}
