/* styling of the main and search windows. Author: Mikko Eerola*/
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: gray;
    -fx-background-radius: 5em;
}

.scroll-pane .button {
   -fx-background-color: rgba(0, 0, 0, 0.5);
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-font-size: 14px;
}

#menuFav > items {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}